# PostgreSQL Database Deployment
---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: slack-fastapi
  name: slack-fastapi-db
spec:
  selector:
    matchLabels:
      app: slack-fastapi-db
  template:
    metadata:
      labels:
        app: slack-fastapi-db
    spec:
      containers:
      - name: database
        image: postgres:13.8-bullseye
        resources:
          limits:
            memory: "300Mi"
            cpu: "200m"
        env:
        - name: POSTGRES_PASSWORD
          value: "slack_fastapi"
        - name: POSTGRES_USER
          value: "slack_fastapi"
        - name: POSTGRES_DB
          value: "slack_fastapi"
        ports:
        - containerPort: 5432

# PostgreSQL Service
---
apiVersion: v1
kind: Service
metadata:
  namespace: slack-fastapi
  name: "slack-fastapi-db-service"
spec:
  selector:
    app: slack-fastapi-db
  ports:
  - port: 5432
    targetPort: 5432

# Database Migration Job
---
apiVersion: batch/v1
kind: Job
metadata:
  namespace: slack-fastapi
  name: slack-fastapi-migrator
spec:
  ttlSecondsAfterFinished: 100
  template:
    spec:
      imagePullSecrets:
      - name: registrykey
      containers:
      - name: migrator
        image: "{{ app_image }}"
        command:
        - "alembic"
        - "upgrade"
        - "head"
        resources:
          limits:
            memory: "200Mi"
            cpu: "250m"
        env:
        - name: "SLACK_FASTAPI_DB_HOST"
          value: "slack-fastapi-db-service"
      initContainers:
      - name: wait-for-db
        image: toschneck/wait-for-it:latest
        command: ["./wait-for-it.sh", "-t", "60", "slack-fastapi-db-service:5432"]
      restartPolicy: Never

# PostgreSQL Exporter Deployment
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-exporter
  namespace: slack-fastapi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres-exporter
  template:
    metadata:
      labels:
        app: postgres-exporter
    spec:
      containers:
      - name: postgres-exporter
        image: wrouesnel/postgres_exporter
        env:
        - name: DATA_SOURCE_NAME
          value: "postgresql://slack-fastapi:slack-fastapi@slack-fastapi-db-service:5432/?sslmode=disable"
        ports:
        - containerPort: 9187  # Ensure this port is open for Prometheus scraping

---
